
#password-container{
    position:absolute;
    border-right:none;
    border-bottom:none;
    border-top-left-radius: 25%;
    border-left:solid;
    border-top:solid;
    box-shadow:10px 10px 5px #888888;
    width:500px;
    margin-left:500px;
    margin-top:250px;
}
.form-wrapper{
    margin-left:200px;
}
.tbl-head{
    background-color:cadetblue;
    font-size:25px;
    padding:10px;
    color:white;
}
#nav-bar{
    background-color:cadetblue;
    color:white;
    border-bottom:solid;
    border-bottom-color:black;
    font-size:30px;
    display:flex;
}
#nav-bar span{
    margin-right:15px;
    padding:15px;
}
#nav-bar span:hover{
    background-color:cyan;
    color:black;
    cursor:pointer;
}

