
#password-container{
    position:absolute;
    border-right:none;
    border-bottom:none;
    border-top-left-radius: 25%;
    border-left:solid;
    border-top:solid;
    box-shadow:10px 10px 5px #888888;
    width:500px;
    margin-left:500px;
    margin-top:250px;
}
.form-wrapper{
    margin-left:200px;
}

