<!DOCTYPE html>
<html>
    <head>
        <title>Angular Project 2</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" href="/app/styles/styles.css">
    </head>
    <body ng-app="attendance">
        
        <div ng-controller="mainCtrl">
            
            <password ng-if="!auth"></password>
            <app-body ng-if="auth"></app-body>
        </div>
        
         
        
        <!--Dependencies-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        
        <script type="text/javascript" src="/node_modules/angular-aria/angular-aria.js">
        </script>
        
        <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>
        
        <script type="text/javascript" src="/node_modules/angular-material/angular-material.js"></script>
        
        
        
        <!--Custom Javascripts-->
        <script type="text/javascript" src="/app/scripts/attendance.js"></script>
        
        <!--controllers-->
        <script type="text/javascript" src="/app/scripts/controllers/mainCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/personCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/passwordCtrl.js">
        </script>
        <script type="text/javascript" src="/app/scripts/controllers/studentFormCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/studentTableCtrl.js">
        </script>
        <script type="text/javascript" src="/app/scripts/controllers/navBarCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/appBodyCtrl.js"></script>
        
        <!--services-->
        <script type="text/javascript" src="/app/scripts/services/passwordService.js"></script>
        <script type="text/javascript" src="/app/scripts/services/studentService.js">
        </script>
        <script type="text/javascript" src="/app/scripts/services/navBarService.js"></script>
        
        
        <!--directives-->
        <script type="text/javascript" src="/app/scripts/directives/password.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentForm.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentTable.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/body.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/navBar.js"></script>
    </body>
    
</html>